RDFV_IMAGE=rdfv:2.1

RDFV_CONTAINER_NAME=rdfv2.1

RDFV_PORT=8121

RDFV_CONFIG_DIR=/data/project_rdfvisualizer/demos_deployment/config
RDFV_UPLOADS_DIR=/data/project_rdfvisualizer/demos_deployment/uploads