# optional specification of COMPOSE_PROJECT_NAME in order to avoid mixing of deployed containers
# COMPOSE_PROJECT_NAME=rdfv-dev

RDFV_CONTAINER_NAME=rdfv2.1

RDFV_PORT=8121

RDFV_CONFIG_DIR=/data/project_rdfvisualizer/demos_deployment/config
RDFV_UPLOADS_DIR=/data/project_rdfvisualizer/demos_deployment/uploads